# frozen_string_literal: true

require "test_helper"

class <%= class_name %>RobotTest < ActiveSupport::TestCase
  def setup
    @robot = <%= class_name %>Robot.build
  end

  test "robot has correct name" do
    assert_equal "<%= file_name %>", @robot.name
  end

  test "robot has description" do
    assert_not_nil @robot.description
  end

  test "robot has system prompt" do
    assert_not_nil @robot.system_prompt
  end

  # Add more tests as needed:
  #
  # test "robot runs successfully" do
  #   result = @robot.run("Hello, I need help")
  #   assert result.is_a?(RobotLab::RobotResult)
  #   assert_not_nil result.last_text_content
  # end
  #
  # test "robot has expected tools" do
  #   tool_names = @robot.local_tools.map(&:name)
  #   assert_includes tool_names, "expected_tool_name"
  # end
end
